{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
		<h1>Welcome to the Admin Panel</h1><br>
		<ol style="padding-left: 20px;">
		<li style="font-size: 20px"><b>Total Employees: </b>{{employees|length}}</li><br>
		<li style="font-size: 20px"><b>Total Jobs: </b>{{jobs|length}}</li>
			<ul>
				<li style="font-size: 20px"><b>Available Jobs: </b>{{available_jobs|length}}</li><br>
			</ul>
		<li style="font-size: 20px"><b>Total Applicants: </b>{{applicants|length}}</li><br>
		<li style="font-size: 20px"><b>Total Clients: </b>{{clients|length}}</li><br>
		<li style="font-size: 20px"><b>Total Projects: </b>{{projects|length}}</li>
			<ul>
				<li style="font-size: 20px"><b>Completed Projects: </b>{{completed_projects|length}}</li><br>
		        <li style="font-size: 20px"><b>Uncompleted Projects: </b>{{projects|length - completed_projects|length}}</li><br>
			</ul>
		</ol>
	</div>
{% endblock %}