{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
    <h1>All Applicants</h1><br>
      <h2>Total: {{applicants|length}}</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Job ID</th>
          <th>Date Submitted</th>
          <th>Status</th>
          <th>Resume</th>
          <th>Cover File</th>
		  <th>Edit</th>
		  <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for applicant in applicants %}
        <tr>
          <td>{{ applicant.id }}</td>
          <td>{{ users[applicant.user_id - 1].email }}</td>
          <td>{{ applicant.job.name|title }}</td>
          <td>{{ applicant.date_submitted }}</td>
          <td {% if applicant.status == 'Accepted' %}style='color:green;'{% endif %}
          {% if applicant.status == 'Disapproved' %}style='color:red;'{% endif %}>
          {{ applicant.status }}
          </td>
          <td>{{ applicant.resume }}</td>
          <td>{{ applicant.cover_file }}</td>
          <td><a href="{{url_for('auth.editApplicant',id=applicant.id)}}"><button>Edit</button></a></td>
		  <td><a href="{{url_for('auth.deleteApplicant', id=applicant.id)}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
{% endblock %}