{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
    <h1>All Applicants</h1>
		<button>Add Applicant</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User ID</th>
          <th>Job ID</th>
          <th>Date Submitted</th>
          <th>Status</th>
          <th>Resume</th>
          <th>Cover File</th>
		  <th>Edit</th>
		  <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for applicant in applicants %}
        <tr>
          <td>{{ applicant.id }}</td>
          <td>{{ users[applicant.user_id - 1].email }}</td>
          <td>{{ applicant.job_id }}</td>
          <td>{{ applicant.date_submitted }}</td>
          <td>{{ applicant.status }}</td>
          <td>{{ applicant.resume }}</td>
          <td>{{ applicant.cover_file }}</td>
          <td><a href="{{url_for('auth.editApplicant',id=applicant.id)}}"><button>Edit</button></a></td>
		  <td><button>Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
{% endblock %}