{% extends 'base.html' %}
{% block title %}{{other.lastName + " " + other.firstName}}{% endblock %}
{% block body %}
    {% include 'navbar.html' %}
    <div class="header">
        <img src="{{url_for('static', filename='profiles/'+other.img)}}" alt="profile picture">
        <div class="header2">
            <div id="name">
                <h1>{{other.lastName + " " + other.firstName}}</h1>
            </div>
            <ul id="list">
                <li><a href="#personal_details">Personal Details</a></li>
                <li><a href="#job_details">Job and salary</a></li>
                <li><a href="#perform_details">Performance and skills</a></li>
                <li><a href="#project_details">Projects</a></li>
            </ul>
            <br><hr>
        </div>
    </div>
    <div class="details" id="personal_details">
        <h1>Personal Details</h1>
        <div class="tabular">
            <div id="key">Name</div>
            <div id="value">{{other.lastName|title + " " + other.firstName|title}}</div>
            <div id="key">Personal Email</div>
            <div id="value">{{other.email}}</div>
            <div id="key">Date of birth</div>
            <div id="value">{{other.date_of_birth}}</div>
        </div>
    </div>
    <div class="details" id="job_details">
        <h1>Job and salary</h1>
        <div class="tabular">
            <div id="key">Job Title</div>
            <div id="value">{{job.name|title}}</div>
            <div id="key">Manager</div>
            <div id="value">
                {% if user.isManager %}
                <a href="mydashboard">
                    {{other.lastName|title + " "  + other.firstName|title}}
                </a>
                {% else %}
                {% for  manager in managers %}
                <a href="{{ url_for('views.dashboard', id=manager.user.id) }}">
                    {{ manager.user.lastName|title + " "  + manager.user.firstName|title }}
                </a>
                {% endfor %}
                {% endif %}
            </div>
            <div id="key">Manages</div>
            <div id="value">
                {% if not employee.isManager %}
                None
                {% else %}
                {% for managed_employee in managed_employees %}
                    <a href="{{ url_for('views.dashboard', id=managed_employee.user.id)}}">
                        {{ managed_employee.user.lastName|title + " "  + managed_employee.user.firstName|title }}
                    </a>
                {% endfor %}
                {% endif %}
            </div>
            <div id="key">Work Email</div>
            <div id="value">{{employee.work_email}}</div>
            <div id="key">Date employed</div>
            <div id="value">{{employee.date_employed}}</div>
            <div id="key">Employee type</div>
            <div id="value">{{job.type}}</div>
            <div id="key">Wage</div>
            <div id="value">Ghc {{job.salary}} per month</div>
        </div>
    </div>
    <div class="details" id="perform_details">
        <h1>Performance and skills</h1>
        <div class="tabular">
            <div id="key">Performance</div>
            <div id="value">{{employee.performance|title}}</div>
            <div id="key">Skills</div>
            <div id="value">{{employee.skills|title}}</div>
        </div>
    </div>
    <div class="details" id="project_details">
        <h1>Projects</h1>
        <div class="tabular">
            <div id="key">Projects worked on</div>
            <div id="value">
                {% if project %}
                {% for Project in project %}
                    {% if Project.isCompleted %}
                        {{Project.name|title}},
                    {% endif %}
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </div>
            <div id="key">Projects working on</div>
            <div id="value">
                {% if project %}
                {% for Project in project %}
                    {% if not Project.isCompleted %}
                        {{Project.name|title}},
                    {% endif %}
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}