<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hero{
            height:30vh;
            background:linear-gradient(rgba(0, 0, 0, 0.692),rgba(0, 0, 0, 0.692)),url('../static/img/faces1.jfif');
            background-size: contain;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="nav">
        <img src="../static/img/home.png" alt="logo" id="logo">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="employees.html">Employees</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
        <ul class="prof">
            <li><a href="signup.html">SignUp</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
        </ul>
    </div>
    <div class="hero">
        <h1>Work with Us</h1>
    </div>
    <div class="employees">
        <a href="job.html"><div class="ep_row">
            <div class="desc">
                <div class="para">
                    <h1>Project Manager</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                    adipisicing elit. Debitis nisi autem vero 
                    sequi. Cupiditate esse iure culpa tempore 
                    numquam labore voluptate laudantium 
                    dignissimos itaque ad beatae dicta natus, 
                    explicabo consectetur autem, quis atque 
                    facere error. Porro architecto cum aliquam 
                    eveniet!</p>
                </div>
                <div class="skills"><p>Skills: Lorem ipsum, dolor sit, amet consectetur, adipisicing elit, Iusto ratione.</p></div>
                <div class="date"><p>Application Started: January 25, 2023</p></div>
                <div class="date"><p>Application Ends: April 25, 2023</p></div>
            </div>
        </div></a>
    </div>
</body>
</html>