<div class="nav">
    <img src="{{ url_for('static', filename='img/home.png') }}" alt="logo" id="logo">
    <ul>
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        {% if user.EMPLOYEE %}
        <li><a href="{{ url_for('views.employees')}}">Employees</a></li>
        <li><a href="{{ url_for('views.mydashboard')}}">Dashboard</a></li>
        {% endif %}
        {% endif %}
        <li><a href="{{ url_for('views.jobs')}}">Jobs</a></li>
    </ul>
    <ul class="prof">
        {% if user.is_authenticated %}
        {% if user.is_admin %}
        <li><a href="{{ url_for('auth.admin')}}">Admin</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.sign_up')}}">SignUp</a></li>
        {% endif %}
        <li><a href="{{ url_for('views.contactUs')}}">Contact Us</a></li>
    </ul>
</div>