{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block body %}
    <div class="forms">
        <div class="grid1">
            <form method="POST" enctype="multipart/form-data">
                <h1>Create an account</h1>
                <input type="text" name="fname" id="fname" placeholder="Enter your first name">
                <input type="text" name="fname" id="mname" placeholder="Enter your middle name">
                <input type="text" name="lname" id="lname" placeholder="Enter your last name">
                <input type="date" name="dob" id="dob">
                <input type="text" placeholder="Phone Number" pattern="[0-9]{10}" id="phone" name="phone">
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
                 <input type="file" id="pic" name="pic" accept='.png,.jpg,.jpeg,.tiff,.bmp,.gif,.jfif'>
                <input type="password" name="pass1" id="pass1" placeholder="Enter a password">
                <input type="password" name="pass2" id="pass2" placeholder="Confirm your password">
                <button type="submit">Create an account</button>
            </form>
            <h3>Already a member?<a href="login">Login in here</a></h3>
        </div>
        <div class="grid2">
        </div>
    </div>
{% endblock %}