{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
    <h1>Update Applicant</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ applicant.id }}">
        <p>User ID: <input type="text" name="user_id" value="{{ applicant.user_id }}" required></p>
        <p>Job ID: <input type="text" name="job_id" value="{{ applicant.job_id }}" required></p>
        <p>Date Submitted: <input type="date" name="date_submitted" value="{{ applicant.date_submitted }}" required></p>
        <p>Status: <input type="text" name="status" value="{{ applicant.status }}" required></p>
        <p>Resume: <input type="file" name="resume" accept=".pdf,.doc,.docx" required></p>
        <p>Cover Letter: <input type="file" name="cover_file" accept=".pdf,.doc,.docx" required></p>
        <input type="submit" value="Update Applicant">
    </form>
</body>
	</div>
{% endblock %}