{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
    <h1>Update Project</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ project.name }}"><br>

      <label for="project_description">Description:</label>
      <input type="text" id="project_description" name="project_description" value="{{ project.project_description }}"><br>

      <label for="date_commenced">Commenced:</label>
      <input type="date" id="date_commenced" name="date_commenced" value="{{ project.date_commenced }}"><br>

      <label for="date_completed">Completed:</label>
      <input type="date" id="date_completed" name="date_completed" value="{{ project.date_completed }}"><br>

      <label for="isCompleted">Completed:</label>
      <input type="checkbox" id="isCompleted" name="isCompleted" {% if project.isCompleted %}checked{% endif %}><br>

      <label for="client_id">Client:</label>
      <select id="client_id" name="client_id">
        {% for client in clients %}
        <option value="{{ client.id }}">{{ client.name }}</option>
        {% endfor %}
      </select><br>

      <input type="submit" value="Update Project">
    </form>
	</div>
{% endblock %}