{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
    <h1>Add Employee</h1>
    {% if error %}
      <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form action="{{ url_for('auth.addEmployee') }}" method="post">
        <label for="user_id">Employee:</label>
        <select id="user_id" name="user_id">
        {% for user in users %}
            {% if user.EMPLOYEE %}
            {% else %}
          <option value="{{user.id}}">{{ user.firstName|title +" "+user.middleName|title +" "+user.lastName|title }}</option>
            {% endif %}
            {% endfor %}
      </select><br><br>
        <label for="job_id">Job:</label>
        <select id="job_id" name="job_id">
        {% for job in jobs %}
          <option value="{{job.id}}">{{ job.name|title }}</option>
        {% endfor %}
      </select><br><br>
      <label for="about">About:</label>
      <input type="text" id="about" name="about"><br><br>
      <label for="skills">Skills:</label>
      <input type="text" id="skills" name="skills"><br><br>
      <label for="performance">Performance:</label>
      <input type="text" id="performance" name="performance"><br><br>
      <label for="work_email">Work Email:</label>
      <input type="email" id="work_email" name="work_email"><br><br>
      <label for="isManager">Is Manager:</label>
      <input type="checkbox" id="isManager" name="isManager"><br><br>
      <label for="manager_id">Manager ID:</label>
      <select id="manager_id" name="manager_id">
          <option>None</option>
        {% for employee in employees %}
          {% if employee.isManager %}
          <option value="{{employee.id}}">{{ employee.user.firstName|title +" "+ employee.user.middleName|title +" "+ employee.user.lastName|title }}</option>
          {% endif %}
        {% endfor %}
      </select><br><br>
      <label for="PROJECT">Projects:</label>
      <select id="PROJECT" name="PROJECT" multiple>
          # Shows only uncompleted projects
        {% for project in projects %}
          {% if not project.isCompleted %}
          <option value="{{ project.id }}">{{ project.name|title }}</option>
          {% endif %}
        {% endfor %}
      </select><br><br>
      <input type="submit" value="Add Employee">
    </form>
	</div>
{% endblock %}