{% extends 'base.html' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'sidebar.html' %}
	<div class="main-content">
    <h1>Add User</h1>
    <form class="editing" method="POST" enctype="multipart/form-data">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName">
      <br>
      <label for="middleName">Middle Name:</label>
      <input type="text" id="middleName" name="middleName">
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName">
      <br>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone">
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth">
      <br>
      <label for="img">Image:</label>
      <input type="text" id="img" name="img">
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br>
      <label for="is_superuser">Is Superuser:</label>
      <input type="checkbox" id="is_superuser" name="is_superuser">
      <br>
      <label for="is_admin">Is Admin:</label>
      <input type="checkbox" id="is_admin" name="is_admin">
      <br>
      <input type="submit" value="Add User">
    </form>
	</div>
{% endblock %}