<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <img src="../static/img/home.png" alt="logo" id="logo">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="employees.html">Employees</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
        <ul class="prof">
            <li><a href="signup.html">SignUp</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
        </ul>
    </div>

    <div class="contact_header"><h1>Mail Us</h1></div>

    <div class="grid_mail">
        <div class="side">
            <div class="side_items">
                <img src="../static/img/face1.jfif" alt="">
                <div>
                    <b>ADDRESS</b>
                    <p>Tarkwa, Western</p>
                </div>
            </div>
            <div class="side_items">
                <img src="../static/img/face1.jfif" alt="">
                <div>
                    <b>EMAIL</b>
                    <p>umat@gmail.edu.gh</p>
                </div>
            </div>
            <div class="side_items">
                <img src="../static/img/face1.jfif" alt="">
                <div>
                    <b>CALL US ON</b>
                    <p>+233 123 1234 123</p>
                </div>
            </div>
        </div>
        <form action="index.html">
            <input type="text" id="name" name="name" placeholder="Name">
            <input type="number" id="tel" name="tel" placeholder="Telephone">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="text" name="subject" id="subjext" placeholder="Subject">
            <!-- <input type="textarea" name="message" id="message" placeholder="Message"> -->
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>