<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <img src="../static/img/home.png" alt="logo" id="logo">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="employees.html">Employees</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <ul class="prof">
            <li><a href="signup.html">SignUp</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="hero">
        <div class="center">
            <h1>Build your future with us</h1>
            <h2>Apply for a job right here, right now</h2><br>
            <a href="#">REGISTER</a><br><br>
            <h3>We are here for you</h3>
        </div>
    </div>
    .about
</body>
</html>