<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/auth.css"
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li id="logo"></li>
            <li id="menu"><a href="#">Membership</a></li>
            <li id="menu"><a href="#">Community</a></li>
            <li id="menu"><a href="#">Help</a></li>
            <li id="menu"><a href="#">About</a></li>
        </ul>
    </div>
    <div class="form">
        <div class="container">
            <form action="index.html">
                <h1>Login into account</h1>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <input type="password" name="pass1" id="pass1" placeholder="Enter your password">
                <button type="submit">Login into account</button>
            <h3>Not a member?<a href="signup.html">Signup in here</a></h3>
            </form>
        </div>
    </div>
</body>
</html>