{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="forms">
        <div class="grid1">
            <form method="POST">
                <h1>Login into account</h1>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <input type="password" name="pass1" id="pass1" placeholder="Enter your password">
                <button type="submit">Login into account</button>
            <h3>Not a member?<a href="{{url_for('signup')}}">Signup in here</a></h3>
            </form>
        </div>
        <div class="grid2">
        </div>
    </div>
{% endblock %}