<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mainApp/static/auth.css">
    <title>Document</title>
</head>
<body>
    <form>
        <span>
        <h2>Sign Up</h2>
        <input id="name" type="text" name="name" placeholder="First Name">
        <input id="email" type="email" name="email" placeholder="Second Name">
        <input id="password" type="password" name="password" Password>
        <button id="login">Login</button>
  </form>
</body>
</html>
<body>
